
      <%- include('../partials/navBarUser')%>
<body class = "user-background">
      <%= user.name %>
      <table>
        <thead>
          <th>Restaurants</th>
          <th>Locations</th>
          <th>Reviews</th>
        </thead>
        <tbody>
            <% user.restaurants.forEach(function(res){ %>
              <tr>
              <td> <%=res.resName%></td>
              <td> <%=res.city%></td>
              <td> <% if (currentUser && currentUser._id.equals(user._id)) { %>
                <a href="/restaurants/<%=res._id%>">Read/Edit Review</a>
                <% } else {%>
                <a href="/restaurants/<%=res._id%>">Read Reviews</a>
              <% }%></td>
            </tr>
            <%})%>
        </tbody>
      </table>
      <% if (currentUser && currentUser._id.equals(user._id)) { %>
          <form action="/restaurants/<%=user._id%>" method="POST">
          <label for="city-select">Choose a city:</label>
          <select name="city" id="city-select">
              <option value="">--Please choose an option--</option>
              <option value="SD">San Diego</option>
              <option value="SEA">Seattle</option>
              <option value="LA">Los Angeles</option>
              <option value="SF">San Francisco</option>
          </select>
          <label>Restaurant:
            <input type="text" name="resName">
          </label><br>
            <button type="submit" class="btn white-text">Submit</button>
          </form>
      <% } %>
    </body>
</html>




