<%- include('../partials/nav')%>
<h1><%=rest.resName%></h1>
<% if(rest.reviews.length>0) {%>
    <table>
        <thead>
            <th>Rating</th>
            <th>Review</th>
            <th>Rater</th>
        </thead>
        <tbody>
    <%rest.reviews.forEach(function(rev){ %>
        <tr><td><%=rev.rating%> /5</td>
        <td><%=rev.review%></td>
        <td>
            <%=rev.rater%>
            <% if (user && (rev.rater === user.name) ){ %>
                <form action='/restaurants/<%=rest._id%>/reviews/<%=rev._id%>?_method=DELETE'
                    class="delete-form" method="POST">
                    <button type="delete" class="btn red-text">Delete</button>
                </form>
            <% } %>
        </td></tr>
   <%}) %>
     </tbody>
</table>

<% } %> 
   <% if (user)  { %>
    <form action="/restaurants/<%=rest._id%>/reviews" method="POST">
    <select name="rating" id="rating-select">
        <option value="">--Rate 1-5--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <label>Add Review:
        <input type="text" name="review">
    </label><br>
    <button type="submit" class="btn white-text">Submit</button>
    </form>
   <% } %>
</body>
</html>